.skills-page {
  height: 100%;
  width: 100%;
  background-color: skyblue;
  display: flex;
  justify-content: center;
}



/* ------------------------------------------------------------------------------------------------------------------
        PIE CHART                                                                                                        */


.pie-container {
  height: 100%;
  flex-basis: 65%;
}

.hover-text-name {
  font-weight: 600;
  font-size: 21px;
  text-decoration: underline;
}




/* ------------------------------------------------------------------------------------------------------------------
        BAR CHART                                                                                                        */




.bar-container {
  height: 100%;
  flex-basis: 35%;
}
